---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a4dbbf1e2240a6320ee12a91c7c4694"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":0,"name":"name_0","billable":true,"formatted_name":"formatted_name_0","entries":5326,"entries_url":"http://foo.com/0/entries","url":"http://foo.com/0","created_at":"2013-11-22T09:47:59Z","updated_at":"2022-10-19T06:36:25Z"},{"id":1,"name":"name_1","billable":true,"formatted_name":"formatted_name_1","entries":4003,"entries_url":"http://foo.com/1/entries","url":"http://foo.com/1","created_at":"2014-05-08T14:50:33Z","updated_at":"2022-10-19T06:36:25Z"},{"id":2,"name":"name_2","billable":true,"formatted_name":"formatted_name_2","entries":1,"entries_url":"http://foo.com/2/entries","url":"http://foo.com/2","created_at":"2021-11-29T21:57:39Z","updated_at":"2022-10-19T06:36:25Z"},{"id":3,"name":"nam[...]
