---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/project_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/project_groups?page=6>; rel="last", <https://api.nokotime.com/v2/project_groups?page=2>;
        rel="next"
      Etag:
      - W/"9dffe26edbb20e0b7e982fc82ad161af"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":160,"name":"name_98","created_at":"2020-07-13T11:23:26Z","updated_at":"2020-07-13T11:23:26Z","projects":[{"id":1,"name":"name_29","billing_increment":5,"enabled":true,"billable":true,"color":"#7d4ad1","url":"http://foo.com/160"}],"url":"http://foo.com/1","entries_url":"http://foo.com/1/entries","projects_url":"http://foo.com/1/projects","add_projects_url":"http://foo.com/1/add_projects","remove_projects_url":"http://foo.com/1/remove_projects","remove_all_projects_url":"http://foo.com/1/remove_all_projects"},{"id":2,"name":"name_0","created_at":"2022-08-30T15:23:40Z","updated_at":"2022-08-30T15:23:40Z","projects":[{"id":3,"name":"name_30","billing_increment":5,"enabled":true,"billable":true,"color":"#ef63a2","url":"http://foo.com/2"},{"id":4,"name":"name_31","billing_increment":5,"enabled":true,"billable":true,"color":"#6dcc1e","url":"http://foo.com/3"}],"url":"http://foo.com/4","entries_url":"http://foo.com/4/entries","projects_url":"http://foo.com/4/projects[...]
- request:
    method: get
    uri: https://api.nokotime.com/v2/project_groups?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/project_groups?page=1>; rel="first", <https://api.nokotime.com/v2/project_groups?page=6>;
        rel="last", <https://api.nokoti[...]
[...]
