---
http_interactions:
- request:
    method: get
    uri: https://api.letsfreckle.com/v2/users?per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.letsfreckle.com/v2/users?page=4&per_page=10>; rel="last", <https://api.letsfreckle.com/v2/users?page=2&per_page=10>;
        rel="next"
    body:
      encoding: UTF-8
      string: '[{"id":0,"email":"mail_0@domain.com","first_name":"first_name_0","last_name":"last_name_0","profile_image_url":"http://foo.com/0","state":"active","role":"supervisor","entries":4337,"expenses":0,"created_at":"2013-11-22T09:46:26Z","updated_at":"2018-10-24T15:18:52Z","url":"http://foo.com/0","entries_url":"http://foo.com/0","expenses_url":"http://foo.com/0/expenses","activate_url":"http://foo.com/0","deactivate_url":"http://foo.com/0","give_access_to_projects_url":"http://foo.com/0","revoke_access_to_projects_url":"http://foo.com/0","revoke_access_to_all_projects_url":"http://foo.com/0"},{"id":1,"email":"mail_1@domain.com","first_name":"first_name_1","last_name":"last_name_1","profile_image_url":"http://foo.com/1","state":"active","role":"supervisor","entries":2030,"expenses":0,"created_at":"2013-11-22T09:47:23Z","updated_at":"2018-07-18T09:58:43Z","url":"http://foo.com/1","entries_url":"http://foo.com/1","expenses_url":"http://foo.com/1/expenses","activate_url":"http://foo.com/1","deactivate_url":"http://foo.com/1","give_access_to_projects_url":"http://foo.c[...]
- request:
    method: get
    uri: https://api.letsfreckle.com/v2/users?page=2&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.letsfreckle.com/v2/users?page=1&per_page=10>; rel="first", <https://api.letsfreckle.com/v2/users?page=4&per_pa[...]
[...]
