---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/users?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/users?page=1>; rel="first", <https://api.nokotime.com/v2/users?page=1>;
        rel="prev"
      Etag:
      - W/"931451e0744fae9abd0867fa067981cf"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":0,"email":"mail_0@domain.com","first_name":"first_name_0","last_name":"last_name_0","profile_image_url":"http://foo.com/0","state":"disabled","role":"leader","entries":2549,"expenses":0,"created_at":"2017-05-08T12:16:32Z","updated_at":"2021-09-01T04:45:55Z","url":"http://foo.com/0","entries_url":"http://foo.com/0","expenses_url":"http://foo.com/0/expenses","activate_url":"http://foo.com/0","deactivate_url":"http://foo.com/0","give_access_to_projects_url":"http://foo.com/0","revoke_access_to_projects_url":"http://foo.com/0","revoke_access_to_all_projects_url":"http://foo.com/0"},{"id":1,"email":"mail_1@domain.com","first_name":"first_name_1","last_name":"last_name_1","profile_image_url":"http://foo.com/1","state":"active","role":"leader","entries":2301,"expenses":0,"created_at":"2017-05-28T14:40:10Z","updated_at":"2022-10-14T08:56:20Z","url":"http://foo.com/1","entries_url":"http://foo.com/1","expenses_url":"http://foo.com/1/expenses","activate_url":"http://foo.com/1","deactivate_url":"http://foo.com/1","give_access_to_projects_url":"http://foo.com/1[...]
