---
http_interactions:
- request:
    method: get
    uri: https://api.letsfreckle.com/v2/users?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.letsfreckle.com/v2/users?page=1>; rel="first", <https://api.letsfreckle.com/v2/users?page=1>;
        rel="prev"
    body:
      encoding: UTF-8
      string: '[{"id":0,"email":"mail_0@domain.com","first_name":"first_name_0","last_name":"last_name_0","profile_image_url":"http://foo.com/0","state":"active","role":"coworker","entries":645,"expenses":0,"created_at":"2017-05-08T12:16:32Z","updated_at":"2018-11-22T15:39:45Z","url":"http://foo.com/0","entries_url":"http://foo.com/0","expenses_url":"http://foo.com/0/expenses","activate_url":"http://foo.com/0","deactivate_url":"http://foo.com/0","give_access_to_projects_url":"http://foo.com/0","revoke_access_to_projects_url":"http://foo.com/0","revoke_access_to_all_projects_url":"http://foo.com/0"},{"id":1,"email":"mail_1@domain.com","first_name":"first_name_1","last_name":"last_name_1","profile_image_url":"","state":"active","role":"coworker","entries":493,"expenses":0,"created_at":"2017-05-28T14:40:10Z","updated_at":"2018-11-19T17:04:17Z","url":"http://foo.com/1","entries_url":"http://foo.com/1","expenses_url":"http://foo.com/1/expenses","activate_url":"http://foo.com/1","deactivate_url":"http://foo.com/1","give_access_to_projects_url":"http://foo.com/1","revoke_acces[...]
