---
http_interactions:
- request:
    method: get
    uri: https://api.letsfreckle.com/v2/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.letsfreckle.com/v2/projects?page=10>; rel="last", <https://api.letsfreckle.com/v2/projects?page=2>;
        rel="next"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":0,"name":"name_2","description":"","billing_increment":5,"enabled":true,"billable":true,"color":"#13a480","created_at":"2018-07-16T08:32:45Z","updated_at":"2018-12-04T16:45:07Z","group":{"id":1,"name":"name_18","url":"http://foo.com/0"},"minutes":8430,"billable_minutes":6270,"unbillable_minutes":2160,"invoiced_minutes":0,"uninvoiced_minutes":6270,"remaining_minutes":8730,"budgeted_minutes":15000,"participants":[{"id":2,"email":"email_0@domain.com","first_name":"first_name_0","last_name":"last_name_1","profile_image_url":"http://foo.com/0","url":"http://foo.com/1"},{"id":3,"email":"email_1@domain.com","first_name":"first_name_1","last_name":"last_name_2","profile_image_url":"http://foo.com/1","url":"http://foo.com/2"},{"id":4,"email":"email_2@domain.com","first_name":"first_name_2","last_name":"last_name_3","profile_image_url":"http://foo.com/2","url":"http://foo.com/3"},{"id":5,"email":"email_3@domain.com","first_name":"first_name_3","last_name":"last_name_4","profile_image_url":"http://foo.com/3","url":"http://foo.com/4"},{"id":6,"email":"email_4@domain.com","first_name":"first_name_4","last_name":"last_name_5","profile_image_url":"","url":"http://foo.com/5"}],"entries":36,"entries_url":"http://foo.com/6/entries","url":"http://foo.com/6","merge_url":"http://foo.com/6/merge","archive_url":"http://foo.com/6/archive","unarchive_url":"http://foo.com/6/unarchive"},{"id":7,"name":"name_19","description":null,"billing_increment":5,"enabled":true,"billable":true,"color":"#d3d52b","created_at":"2018-12-04T17:28:26Z","updated_at":"2018-12-04T17:28:26Z","group":null,"minutes":360,"billable_minutes":360,"unbillable_minutes":0,"invoiced_minutes":0,"uninvoiced_minutes":360,"remaining_minutes":null,"budgeted_minutes":null,"participants":[{"id":8,"email":"email_5@domain.com","first_name":"first_name_5","last_name":"last_name_6","profile[...]
- request:
    method: get
    uri: https://api.letsfreckle.com/v2/projects?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.letsfreckle.com/v2/projects?page=1>; rel="first", <https://api.letsfreckle.com/v2/projects?page=10>;
        rel="last"[...]
[...]
