---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/projects?page=16>; rel="last", <https://api.nokotime.com/v2/projects?page=2>;
        rel="next"
      Etag:
      - W/"5284796f3d0fe4e56b46bdca6afe93f3"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":73,"name":"name_40","description":"","billing_increment":5,"enabled":true,"billable":true,"color":"#f6bed7","created_at":"2020-12-16T18:27:04Z","updated_at":"2022-08-07T21:24:00Z","group":{"id":1,"name":"name_25","url":"http://foo.com/73"},"minutes":3930,"billable_minutes":3495,"unbillable_minutes":435,"invoiced_minutes":0,"uninvoiced_minutes":3495,"remaining_minutes":null,"budgeted_minutes":null,"participants":[{"id":2,"email":"email_29@domain.com","first_name":"first_name_22","last_name":"last_name_29","profile_image_url":"http://foo.com/29","url":"http://foo.com/1"},{"id":3,"email":"email_1@domain.com","first_name":"first_name_1","last_name":"last_name_1","profile_image_url":"http://foo.com/1","url":"http://foo.com/2"},{"id":4,"email":"email_2@domain.com","first_name":"first_name_2","last_name":"last_name_2","profile_image_url":"http://foo.com/2","url":"http://foo.com/3"},{"id":5,"email":"email_3@domain.com","first_name":"first_name_3","last_name":"last_name_3","profile_image_url":"http://foo.com/3","url":"http://foo.com/4"},{"id":6,"email":"email_4@domain.com","first_name":"first_name_4","last_name":"last_name_4","profile_image_url":"http://foo.com/4","url":"http://foo.com/5"}],"entries":51,"entries_url":"http://foo.com/6/entries","url":"http://foo.com/6","merge_url":"http://foo.com/6/merge","archive_url":"http://foo.com/6/archive","unarchive_url":"http://foo.com/6/unarchive"},{"id":7,"name":"name_26","description":null,"billing_increment":5,"enabled":false,"billable":true,"color":"#8fe8f8","created_at":"2014-02-03T10:54:04Z","updated_at":"2020-01-01T01:00:51Z","group":null,"minutes":2340,"billable_minutes":2340,"unbillable_minutes":0,"invoiced_minutes":2340,"uninvoiced_minutes":0,"remaining_minutes":null,"budgeted_minutes":null,"participants":[{"id":8,"email":"email_5@domain.com","first_name":"first_name_5","last_name":"last_name_5","pro[...]
- request:
    method: get
    uri: https://api.nokotime.com/v2/projects?page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/projects?page=1>; rel="first", <https://api.nokotime.com/v2/projects?page=16>;
        rel="last", <https://api.nokotime.com/v2/project[...]
[...]
