---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/entries?updated_from=2018-01-15T00:00:00Z&updated_to=2018-01-16T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"03ea933d37d4269252ede676a1728e9e"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":31,"date":"2018-01-15","billable":false,"minutes":15,"description":"","created_at":"2018-01-15T17:42:29Z","updated_at":"2018-01-15T17:42:29Z","approved_at":null,"source_url":null,"user":{"id":1,"email":"email_7@domain.com","first_name":"first_name_7","last_name":"last_name_7","profile_image_url":"http://foo.com/7","url":"http://foo.com/31"},"approved_by":null,"tags":[],"project":{"id":2,"name":"name_5","billing_increment":5,"enabled":false,"billable":false,"color":"#f1f353","url":"http://foo.com/1"},"url":"http://foo.com/2","invoiced_outside_of_freckle_url":"http://foo.com/2/invoiced_outside_of_freckle","invoiced_outside_of_noko_url":"http://foo.com/2/marked_as_invoiced","approved_url":"http://foo.com/2/approved","unapproved_url":"http://foo.com/2/unapproved"},{"id":3,"date":"2018-01-15","billable":false,"minutes":60,"description":"description_4","created_at":"2018-01-15T17:21:43Z","updated_at":"2018-01-15T17:21:43Z","approved_at":null,"source_url":null,"user":{"id":1,"email":"email_7@domain.com","first_name":"first_name_7","last_name":"last_name_7","profile_image_url":"http://foo.com/7","url":"http://foo.com/31"},"approved_by":null,"tags":[],"project":{"id":4,"name":"name_1","billing_increment":5,"enabled":true,"billable":false,"color":"#7d4ad1","url":"http://foo.com/3"},"url":"http://foo.com/4","invoiced_outside_of_freckle_url":"http://foo.com/4/invoiced_outside_of_freckle","invoiced_outside_of_noko_url":"http://foo.com/4/marked_as_invoiced","approved_url":"http://foo.com/4/approved","unapproved_url":"http://foo.com/4/unapproved"},{"id":5,"date":"2018-01-15","billable":false,"minutes":60,"description":"description_7","created_at":"2018-01-15T17:21:20Z","updated_at":"2018-01-15T17:21:20Z","approved_at":null,"source_url":null,"user":{"id":1,"email":"email_7@domain.com","first_name":"first_name_7","last_name":"last_name_7","profile_image_url":"http://foo.com/7","url":"http://foo.com/31"},"approved_by":null,"tags":[{"id":6,"name":"name_7","billable":true,"formatted_name":"description_7","url":"http://foo.com/5"}],"project":{"id":7,"name":"name_0","billing_increment":5,"enabled":true,"billable":false,"color":"#d3d52b","url":"http://foo.com/6"},"url":"http://foo.com/7","invoiced_outside_of_freckle_url":"http://foo.com/7/invoiced_outside_of_freckle","invoiced_outside_of_noko_url":"http://foo.com/7/marked_as_invoiced","approved_url":"http://foo.com/7/approved","unapproved_url":"http://foo.com/7/unapproved"},{"id":8,"date":"2018-01-15","billable":false,"minutes":180,[...]
