---
http_interactions:
- request:
    method: get
    uri: https://api.letsfreckle.com/v2/entries?updated_from=2018-01-15T00:00:00Z&updated_to=2018-01-16T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":0,"date":"2018-01-15","billable":true,"minutes":360,"description":"description_7","created_at":"2018-01-15T19:00:34Z","updated_at":"2018-01-15T19:00:34Z","approved_at":null,"source_url":null,"user":{"id":1,"email":"email_0@domain.com","first_name":"first_name_0","last_name":"last_name_1","profile_image_url":"http://foo.com/0","url":"http://foo.com/0"},"approved_by":null,"tags":[{"id":2,"name":"name_9","billable":true,"formatted_name":"description_18","url":"http://foo.com/1"}],"project":{"id":3,"name":"name_0","billing_increment":5,"enabled":false,"billable":true,"color":"#ef5555","url":"http://foo.com/2"},"url":"http://foo.com/3","invoiced_outside_of_freckle_url":"http://foo.com/3/invoiced_outside_of_freckle","approved_url":"http://foo.com/3/approved","unapproved_url":"http://foo.com/3/unapproved"},{"id":4,"date":"2018-01-15","billable":false,"minutes":60,"description":"description_15","created_at":"2018-01-15T18:34:53Z","updated_at":"2018-01-15T18:34:53Z","approved_at":null,"source_url":null,"user":{"id":5,"email":"email_1@domain.com","first_name":"first_name_1","last_name":"last_name_0","profile_image_url":"http://foo.com/1","url":"http://foo.com/4"},"approved_by":null,"tags":[{"id":6,"name":"name_10","billable":true,"formatted_name":"#name_10","url":"http:[...]
