---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/users?page=2>; rel="last", <https://api.nokotime.com/v2/users?page=2>;
        rel="next"
      Etag:
      - W/"10b8b6d7a8b9f5b30b4611c7f01b4c65"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":0,"email":"mail_0@domain.com","first_name":"first_name_0","last_name":"last_name_0","profile_image_url":"http://foo.com/0","state":"active","role":"supervisor","entries":8450,"expenses":0,"created_at":"2013-11-22T09:46:26Z","updated_at":"2022-10-19T08:17:06Z","url":"http://foo.com/0","entries_url":"http://foo.com/0","expenses_url":"http://foo.com/0/expenses","activate_url":"http://foo.com/0","deactivate_url":"http://foo.com/0","give_access_to_projects_url":"http://foo.com/0","revoke_access_to_projects_url":"http://foo.com/0","revoke_access_to_all_projects_url":"http://foo.com/0"},{"id":1,"email":"mail_1@domain.com","first_name":"first_name_1","last_name":"last_name_1","profile_image_url":"http://foo.com/1","state":"disabled","role":"supervisor","entries":2209,"expenses":0,"created_at":"2013-11-22T09:47:23Z","updated_at":"2021-11-29T10:51:06Z","url":"http://foo.com/1","entries_url":"http://foo.com/1","expenses_url":"http://foo.com/1/expenses","activate_url":"http://foo.com/1","deactivate_url":"http://foo.com/1","give_access_to_projects_url":"http://foo[...]
- request:
    method: get
    uri: https://api.nokotime.com/v2/users?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Freckletoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/users?page=1>; rel="first", <https://api.nokotime.com/v2/users?page=1>;
        rel="prev"
      Etag:
      - W/"931451e0744fae9abd0867fa[...]
[...]
